@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .reservoir-h1, .reservoir-h2, .reservoir-h3, .reservoir-h4, .reservoir-h5, .reservoir-h6 {
    @apply font-headings dark:text-white;
  }
  .reservoir-body, .reservoir-subtitle, .reservoir-label-s,.btn-primary-outline {
    @apply dark:text-white
  }
}


model-viewer {
  width: 100%;
  min-height: 500px;
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.markdown-support h1, .markdown-support h2, .markdown-support h3, .markdown-support h4, .markdown-support h5 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-support p {
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-support hr {
  margin-top: 0;
  margin-bottom: 30px;
}

.markdown-support strong {
  font-weight: 500;
}

.markdown-support a {
  text-decoration: underline;
}

.main {
  background-image: url("/NFTEBanner.png");
  background-size: cover;
  background-position: center 90px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-home {
  width: 100%;
  height: 400px;
  content: ' ';
  margin-top: 30px;
  border-radius: 16px;


  background-size: cover;
  position: relative;
}

.hero-home a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.static-info {
  position: fixed;
  top: 110px;
  left: 10px;
  padding: 10px;
  background: #fff;
  color: orange;
  font-size: small;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}


@media (max-width: 700px) {
  .main {
    background-position: center 60px;
    background-size: contain;
  }

  .static-info {
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
  }
}